body{
    margin: 0px;
}

header{
    background-color: hsl(60, 100%, 100%);
    text-align: center;
    font-weight: 2em;
    padding: 25px;
    font-size: 30px;
    color: rgba(5, 253, 146, 0.827);
    
}
.menubar{
    color:rgb(215, 28, 28);
}

.navbar ul{
    list-style-type: none;
    background-color: hsla(128, 89%, 57%, 0.758);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
      
}
.navbar a{
    color: #ffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    
}
.product a{
    display:block;
    background-color: #ffff;
    color: hsl(114, 99%, 51%);
    text-decoration: none;
    margin-left: 189px;
    margin-top: 35px;
    padding: 10px;
}
.productmain .product{
    display: none;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.productmain:hover .product{
    display: block;
}

.navbar a:hover{
    background-color: rgba(24, 30, 216, 0.919);
}
.navbar li{
    float: left;
}

main{
    background-color:  hsla(249, 69%, 38%, 0.758);;
    padding: 30px;
    float: left;

}
footer{
    display: block;
    clear: both;
    background-color: blueviolet;
    text-align: center;
    color: antiquewhite;
    
}